# ++
# these are text, so convert.
#
*.asm text
*.inc text
*.c text
*.h text
*.cpp text
*.hpp tet
*.cxx text
*.php text
*.css text
*.js text
*.tsx text
*.htm text
*.html text
*.xml text
*.txt text
*.ini text

# ++
# these are binaries, so leave alone. "binary" is same as "-text -diff".
#
*.exe binary
*.pdf binary
*.png binary
*.jpg binary
*.jpeg binary
*.gz binary
*.zip binary
